
*{
    margin:0;padding: 0;list-style: none;text-decoration: none;
}
body{
    font-size: 14px;font-family: "Microsoft Yahei", Arial;color: #fff;background-color: #222;
    /*background-color: #222;background: url("images/bg01.jpg");*/
}
a{ color: #fff;}
header{
    width: 100%;
    position: fixed;
    background: #222;
    z-index: 999;
    box-shadow:0px 0px 6px rgba(255,255,255,1);
    box-sizing: border-box;
    /*border-bottom: 1px solid #fff;*/
}
section{
    background: url(../images/bg01.jpg) no-repeat 100% 100%;
    min-width: 1500px;
    position: relative;
}
.cl{
    clear: both;
}

/*弹幕css样式开始*/
/*展开状态下*/
/*#barrager_Botton{width: 180px;height: 50px;z-index: 999 ;position: fixed;top: 50%;left: 0px;background: #222;border-radius:0px 5px 5px 0px;box-sizing: border-box;padding: 5px;box-shadow: 0px 0px 6px rgba(255,255,255,0.8);}*/
#barragerShow{width: 0px;height: 50px;display: block;text-align: center;position: relative;}
#barragerShow img{position: absolute;top:7px;left: -50px;width: 36px;height: 36px;box-sizing: border-box;border: 2px solid #fff;border-radius: 50%;}
#barrager_Show{width: 90px;position: absolute;top: 16px;right: 14px;display: none}

/*隐藏状态下*/
#barrager_Botton{width: 10px;height: 50px;z-index: 999 ;position: fixed;top: 50%;left: 0px;background: #222;border-radius:0px 5px 5px 0px;box-shadow: 0px 0px 6px rgba(255,255,255,0.8);}
#barrager_Hidden{width: 10px;height: 40px;position: absolute;top: 5px;right: 0px;cursor: pointer;line-height: 40px}

#barrager_Content{width: 400px;height: 250px;z-index: -1;background: rgba(34,34,34,.9);position: fixed;opacity: 0;border-radius: 5px;box-shadow: 0px 0px 10px rgba(0,0,0,0.8);}
#barrager_Content form{padding: 30px 84px;text-align: center}
#barrager_Content button{width: 280px;height: 30px;position: absolute;bottom: 40px;left: 65px;background: #00b7ee;border: 0px;border-radius: 5px;color: #fff;font-size: 16px;font-weight: bold;cursor: pointer;}
#barrager_Content .b_Content_title{width: 100%;height: 30px;background:#00b7ee;border-radius: 5px 5px 0px 0px;box-sizing: border-box;padding:0px 5px;line-height: 30px;}
#b_Content_title_close{width: 25px;height: 25px;font-size: 25px;float: right;transform: rotateZ(45deg);cursor: pointer;}
/*弹幕css样式结束*/

/*迷你资料卡样式开始*/
.aboutXiaoMoMini{
    width: 40px;
    height: auto;
    background-color: #222;
    position: fixed;
    top: 40%;
    right: 0px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 6px rgba(255,255,255,0.8);
    transition: all 1s;
    z-index: 998;
}
.aboutXiaoMoMini img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px auto;
    margin-bottom: 0px;
}
.aboutXiaoMoMini img:hover{
    transform: rotate(360deg);
    transition: all 0.8s;
}
.aboutXiaoMoMini a{
    display: block;
    width: 14px;
    font-size: 14px;
    color: #fff;
    padding: 0 8px;
    margin: 3px auto;
}
.aboutXiaoMo{
    width: 300px;
    height: auto;
   background-color: #ffffff; /*#ebcccc*/
    position: fixed;
    top: 200px;
    right: -300px;
    border-radius: 5px 0 0 5px;
    color: #000;
    transition: all 0.8s;
    z-index: 999;
}
.aTop{
    width: 300px;
    background: #222;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px 0 0 0;
}
.aClose{
    display: block;
    width: 33px;
    height: 33px;
    font-size: 24px;
    color:#fff;
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.aTimeNow{
    width: 300px;
    text-align: center;
    margin-top: 5px;
}
.aMyPic{
    width: 220px;
    height: 280px;
    margin: 10px auto;
    border: 3px solid #fff;
    position: relative;
}
.aMyPic img:first-child{
    width: 220px;
    height: 280px;
}
.aMyPic img:last-child{
    width: 120px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.aMyInfo{
    width: 280px;
    height: 110px;
    margin: 0 auto;
    font-size: 10px;
}
.afontSetdt{
    font-size: 22px;
    font-weight: bold;
    margin-right: 10px;
    font-family: "宋体";
}
.afontSetdd{
    font-weight: 500;
    font-size: 12px;
}
.aMyInfo dl dt{
    margin-bottom:5px;
}
.aMyInfo dl dd{
    float: left;
    margin-top: 4px;
}
/*选择奇数的元素*/
.aMyInfo dl dd:nth-child(odd){
    width: 180px;
}
/*选择偶数的元素*/
.aMyInfo dl dd:nth-child(even){
    width: 100px;
}
.aMyWeiBo{
    width: 280px;
    height: 30px;
    /*background-color: #CF7EA9;*/
    background-color: #222;
    margin: 15px auto;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.aMyWeiBo a{
    display: block;
    width: 280px;
    height: 30px;
    color: #fff;
}
/*迷你资料卡样式结束*/

/*网页头部样式开始*/
.head{
    width: 1500px;
    height:100px;
    margin: 0 auto;
    /*background: rgba(0,0,0,.8);*/
    /*background: rgba(255,255,255,.8);*/
    background: #222;
    border-radius: 0 0 5px 5px;
    /*box-shadow: 0px 0px 6px rgba(255,255,255,0.8);*/
    position:relative;
    /*border-right: 1px solid #fff;*/
    /*box-sizing: border-box;*/
}
.head .logo{
    float: left;
    width: 200px;
    height: 80px;
    margin:10px 0 10px 100px;
}
.head .logo img{
    width: 200px;
    height: 80px;
}
.head .nav{
    float: left;
    /*width: 520px;*/
    width: auto;
    height: 80px;
    margin: 10px 0 10px 100px;

}
.head .nav ul li{
    float: left;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    /*background-color: #0F769F;*/
    margin: 0 2px;
}
.navActive{
    font-size: 16px;
    color: #1bbc9b;
}
.head .nav ul li a{
    display: block;
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
}
.head .nav ul li a:hover{
    /*background-color: #1bbc9b;*/
    /*color: #000;*/
    /*border-radius: 50%;*/
    /*font-size: 1.5em;*/
    /*transform: rotate(15deg);*/
    /*color: #1bbc9b;*/
    color: #00B7EE;
    font-size: 16px;
    transition:color 0.5s,font-size 0.4s;
}
.head .nav ul li a:hover::before,
.head .nav ul li a:hover::after{
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}
.head .nav ul li a:before{
    content: "[";
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    transform: translateX(40px);
}
.head .nav ul li a:after{
    content: "]";
    opacity: 0;
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    transform: translateX(-40px);
}
/*.head .nav ul li a:focus::before,*/
.head .nav ul li a:hover::before{
    opacity: 1;
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateX(-5px);
    transition: transform 1s;
    font-weight: bold;
    /*color: #1bbc9b; */
    color: #00B7EE;
}
/*.head .nav ul li a:focus::after,*/
.head .nav ul li a:hover::after{
    opacity: 1;
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
    transition: transform 1s;
    font-weight: bold;
    /*color: #1bbc9b;*/
    color: #00B7EE;

}
.login{
    position: absolute;
    top: 10px;
    right: 100px;
    /*float: left;*/
    width: 150px;
    height: 80px;
    /*margin:10px 0 10px 196px;*/
    /*box-shadow: 0px 0px 6px rgba(255,255,255,0.8);*/
    line-height: 80px;

}

.login .avatar{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px 3px;
}
.avatar a{
    width: 50px;
    height: 50px;
    display: block;
}
.login .avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.login .userCenter{
    float: left;
    width: 74px;
    height: 50px;
    margin: 15px 0PX;
    margin-left: 8px;
    line-height: 50px;
    text-align: center;

}
.userCenter a{
    color: #fff;
}
/*网页头部样式结束*/

.headSpace{
    width: 100%;
    /*width: 1500px;*/
    height: 100px;
}

/*网页主体样式开始*/
.bgc{
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,.5);*/
    /*background: rgba(255,255,255,1);*/
}
.bgc .loadMain{
    width: 100%;height: 880px;min-width: 1500px;background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;z-index: 1; position: absolute;left: 0px;top: 0px;
}
.loadMain .loading{
    overflow:hidden;width: 100px;height: 100px;background:url(../images/loading.gif) no-repeat;background-size:100% 100%;cursor:pointer;
    position:relative;margin: 340px auto;box-sizing:border-box;box-shadow:0px 0px 6px rgba(255,255,255,0.8);border-radius: 50%;z-index: 999;
}
.loading .loadingMark{
    background: rgba(0,0,0,.5);width: 100px;height: 100px;position: absolute;top: 100px;left: 0px;border-radius: 50%;text-align: center;
}
.loadingMark .loadingNow{
    position: absolute;top: 32px;left: 30px;
}
.main{
    margin: 0px auto;
    width: 1500px;
    height: 880px;
    position: relative;
    padding: 50px 30px;
    box-sizing: border-box;
    opacity: 0;
    -moz-opacity: 0;
}
.main .main-left{
    float: left;
    width: 400px;
    height:780px;
    box-sizing: border-box;
    /*border: 1px dashed #fff;*/
    padding: 20px;
    background:rgba(255,255,255,0.9);
    border-radius: 5px 0 0 5px;
    box-shadow:0px 0px 6px rgba(255,255,255,1);
}

/*站长个人信息*/
#xiaoMoShow{
    opacity: 1;
    background-color: #fff;
    height: 740px;
}
.main-left .xiaomoAllInfo{
    width: 360px;
    height: 306px;
    box-sizing: border-box;
    /*border: 1px dashed #fff;*/
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    border-radius: 5px;
    color:#222;
    position: relative;
}
.xiaomoAllInfo .tabMenu_User{
    position: absolute;
    top:-30px;
    right: -6px;
    font-size: 66px;
    cursor: pointer;
    opacity: 0;

}
.xiaomoAllInfo .tabMenu_User:hover{
    opacity: 1;
    transition: all 1s;
}
.tabMenu_User a{
    /*color: rgba(27, 188, 155,0.8);*/
    /*color: rgb(242, 148, 0);*/
    color: #00B7EE;
}
.xiaomoAllInfo .xiaomoPic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255,255,255,0.8);

}
.xiaomoPic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.xiaomoAllInfo .xiaomoInfo{
    text-align: center;
}
.xiaomoInfo p{
    margin: 8px auto;
}
.xiaomoInfo p:first-child{
    font-size: 22px;
}
.xiaomoInfo p span:nth-child(1){
    color: red;
}
.xiaomoInfo p span:nth-child(2){
    color: #3cf;
}
.xiaomoInfo p span:nth-child(3){
    color: #6c0;
}
.xiaomoInfo p span:nth-child(4){
    color: #f63;
}
/*.xiaomoAllInfo .xiaomoSkill{*/
    /*width: 340px;*/
    /*height: 30px;*/
    /*padding: 8px 0 0 0;*/
/*}*/
/*.xiaomoSkill a{*/
    /*display: block;*/
    /*width: 200px;*/
    /*height: 30px;*/
    /*margin: 0px auto;*/
    /*background: #00B7EE;*/
    /*color: #fff;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
    /*font-size: 16px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0px 0px 6px rgba(0,0,0,0.3);*/
/*}*/

/*网站公告*/
/*.main-left .notice{*/
    /*width: 360px;*/
    /*height: auto;*/
    /*box-sizing: border-box;*/
    /*!*border: 1px dashed #fff;*!*/
    /*margin-bottom: 10px;*/
    /*text-align: center;*/
    /*padding:10px;*/
    /*box-shadow: 0px 0px 6px rgba(0,0,0,0.8);*/
    /*color: #222;*/
    /*border-radius: 5px;*/
/*}*/
/*.notice .notice-content{*/
    /*margin: 5px auto;*/
    /*margin-bottom: 0px;*/
    /*width: 320px;*/
    /*text-align: center;*/
/*}*/
/*.notice .notice-content a{*/
    /*color: red;*/
/*}*/

/*留言板样式*/
.main-left .messageBoard{
    width: 360px;
    /*height: auto;*/
    height: 424px;
    padding: 10px;
    box-sizing: border-box;
    /*border: 1px dashed #000;*/
    text-align: center;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    border-radius: 5px;
}
.messageBoard h2{
    color: #222;
}
.messageBoard .message-userName{
    width: 280px;height: 30px;margin: 15px 0px 10px 0px;border-radius: 5px;border: 0px;border: 1px solid rgb(169, 169, 169);
}
.messageBoard .message-Email{
    width: 280px;height: 30px;margin-bottom: 10px;border-radius: 5px;border: 0px;border: 1px solid rgb(169, 169, 169);
}
.messageBoard .message-content{
    width: 280px;resize: none;margin-bottom: 10px;border-radius: 5px;box-sizing: border-box;
}
.messageBoard .message-submit{
    width: 280px;height: 30px;background-color: #00b7ee;border: 0px;color: #fff;font-size: 16px;font-weight: bold;cursor: pointer;border-radius: 5px;
}

/*留言板样式结束*/

/*用户个人信息左侧*/
#userShow{
    /*opacity: 0;*/
    opacity: 0;
    display: none;
    transform: rotateY(-180deg);
    background-color: #fff;
    /*transform: rotateY(-180deg);*/
}
.userAllInfo .tabMenu_XiaoMo{
    position: absolute;
    top:-30px;
    left:-6px;
    font-size: 66px;
    cursor: pointer;
    opacity: 0;
}
.userAllInfo .tabMenu_XiaoMo:hover{
    opacity: 1;
    transition: all 1s;
}
.tabMenu_XiaoMo  a{
    /*color: rgb(242, 148, 0);*/
    color: #00B7EE;
}
.userMenu{
    width: 26px;
    height: 19px;
    background-image: url(../images/left_menu_o.png);
    position: absolute;
    top:4px;
    right: 4px;
    cursor: pointer;
}
.main-left .userAllInfo{
    width: 360px;
    height: 306px;
    box-sizing: border-box;
    /*border: 1px dashed #fff;*/
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    border-radius: 5px;
    color:#222;
    position: relative;
}
.userAllInfo .userPic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(255,255,255,0.8);

}
.userPic img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.userInfo{
    padding: 0px 30px;
}
.userInfo ul li{
    margin: 8px auto;
    width: 170px;
    height: 24px;
    background-color: #1bbc9b;
    color: #fff;
    line-height: 24px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.2);

}
.userInfo ul li a{
    color: #0941d1;
}
.guangGao_video{
    width: 360px;
    margin-bottom: 8px;
    position: relative;
}
.guangGao_video video{
    width: 360px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    border-radius: 5px;
}
.guangGao_video .skip{
    width: 360px;height: 171px;display: block;background: url(../images/menu.gif) no-repeat;background-size: 100% 100%;position: absolute;top: 0px;left: 0px;border-radius: 5px 5px 0px 0px;
}
.userAllTools{
    width: 360px;
    height: 210px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    color: #222;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.userTools{
    padding-top:5px ;
}
.userTools ul li{
    float: left;
    margin: 5px 10px;
    padding:2px 6px;
    box-sizing: border-box;
    background-color: #00b7ee;
    border-radius: 5px;
}
.userTools ul li a{
    display: block;
    color: #fff;
}

.main .main-right{
    float: left;
    width: 1020px;
    /*height:auto;*/
    height: 780px;
    margin-left: 20px;
    padding: 20px;
    /*background-color: #fff;*/
    background:rgba(255,255,255,0.9);
    box-sizing: border-box;
    /*background: url("images/mainShow.jpg") no-repeat;*/
    background-size: 1020px 780px;
    border-radius: 0px 5px 5px 0px;
    box-shadow:0px 0px 6px rgba(255,255,255,1);

}
.main-right iframe{
    /*padding: 4px;*/
    border-radius: 5px;
    box-shadow: 0px 0px 6px #222;
}
/*网页主体云朵样式开始*/

.main_yun1{
    background: url(../images/page1_yun1.png);
    width: 400px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 40px;
    opacity: 0.8;
    display: none;
    /*z-index: 999;*/
    text-align: center;
    line-height: 150px;
    font-size: 16px;
}
.main_yun2{
    background: url(../images/page1_yun2.png);
    width: 400px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 170px;
    opacity: 0.8;
    /*z-index: 999;*/
    display: none;
}
.main_yun3{
    background: url(../images/page1_yun1.png);
    background-size: cover;
    width: 600px;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 420px;
    opacity: 0.6;
    display: none;
    /*display: block;*/
    /*z-index: 999;*/
}

/*网页主体云朵样式结束*/
/*网页主体样式结束*/


/*网页底部样式开始*/
footer{
    position: absolute;
    left: 0px;
    width: 100%;
    box-shadow: 0px 0px 6px rgba(255,255,255,1);
    height:300px;
    z-index: 998;
    min-width: 1500px;
}
.footer{
    width: 100%;
    height: 270px;
    padding-top: 30px;
    background-color: #222;
}
.foot{
    width: 1500px;
    height: 220px;
    margin: 0 auto;
    /*border: 1px solid #00C1B3;*/
}
.foot .foot-left{
    float: left;
    width: 450px;
    height: 190px;
    /*background-color: #fff;*/
    padding: 10px 20px;
    box-sizing: border-box;
}
.foot .foot-left img{
    width: 410px;
    height: 170px;
}
.foot .foot-center{
    float: left;
    width: 600px;
    height: auto;
    /*background-color: #fff;*/
    /*border: 1px solid #fff;*/
    border-top: 0px;
    border-bottom: 0px;
    padding:10px;
    box-sizing: border-box;
    z-index: 999;
    box-shadow: 5px 0px 5px -5px #fff,-5px 1px 5px -5px #fff;
}
.webLinks{
    margin-top: 10px;
}
.webLinks ul li{
    margin: 8px auto;
}
.webLinks ul li a{
    color: #fff;
}
.webLinks ul li a:hover{
    font-size: 16px;
}
.webLinks ul li:before{
    /*ღ✚♔♚♕♛▣◈۞*/
    content: "· ";
    font-weight: bold;
    /*color: #ebcccc;*/
}
/*.webLinks ul li:after{*/
/*content: " ▣";*/
/*}*/
.foot-center .guanFangLinks{
    float: left;
    width: 33.33333%;
    height: 170px;
    text-align: center;
}
.foot-center .guangGaoLinks{
    float: left;
    width: 33.33333%;
    height: 170px;
    text-align: center;
}
.foot-center .allianceServiceLinks{
    float: left;
    width: 33.33333%;
    height: 170px;
    text-align: center;
}
.foot .foot-right{
    float: left;
    width: 450px;
    height: 190px;
    /*background-color: #fff;*/
    padding: 10px;
    box-sizing: border-box;
}
.foot-right .erweima{
    float: left;
    width: 140px;
    height: 125px;
    text-align: center;
    padding-top: 50px;
}
.erweima img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 6px rgba(255,255,255,0.8);
    border-radius: 5px;
}
.foot-right .xiaomoLinks{
    float: left;
    width: 290px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    text-align: center;
}
.btnwebLinks{
    padding: 10px 0 0 10px;
}
.btnwebLinks ul li{
    float: left;
    width: 50%;
    height: 32px;
    margin: 6px auto;
    padding: 0px 5px;
    box-sizing: border-box;
}
.btnwebLinks ul li a{
    display: block;
    width: 100%;
    height: 32px;
    background-color: #00b7ee;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 0px 3px rgba(255,255,255,0.8);
    color: #fff;

}
.btnwebLinks ul li a:hover{
    box-shadow: 0px 0px 10px rgb(255,255,255);

}
.foot-bottom{
    width: 1500px;
    height: 50px;
    margin: 0 auto;
    color: #c2ccd1;
    text-align:center;
}
.foot-bottom a{
    color: #c2ccd1;
}
#copyDate{
    margin-right: 5px;
}
/*网页底部样式结束*/